# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.gradle/

# IntelliJ / Android Studio
.idea/
*.iml
*.ipr
*.iws
out/

# Visual Studio Code
.vscode/
# If you want to share launch configs, verify this one. 
# Usually for personal projects, ignore the whole folder.
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json

# Flutter/Dart Core
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub-cache/
.pub/

# Android Secrets & Build
android/local.properties
android/key.properties
android/.gradle
android/.cxx
android/app/build
android/app/.cxx

**/*.keystore
**/*.jks

# iOS / macOS Build
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/gen_snapshot
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
ios/Pods/
ios/.symlinks/
ios/Profile/

# macOS Desktop
macos/Flutter/ephemeral/

# Windows Desktop
windows/flutter/ephemeral/

# Linux Desktop
linux/flutter/ephemeral/

# Web
web/icons/Icon-192.png
web/icons/Icon-512.png
web/icons/Icon-maskable-192.png
web/icons/Icon-maskable-512.png